In [2]:
import pandas as pd 
import numpy as np
from random import randint 
import datetime

In [3]:
arrive=pd.read_csv('Arrival.csv')

In [4]:
arrive.head(6)

   Minutes  (0:1)  Probability  From  To
0        1   0.15          NaN   NaN NaN
1        2   0.20          NaN   NaN NaN
2        3   0.10          NaN   NaN NaN
3        4   0.25          NaN   NaN NaN
4        5   0.18          NaN   NaN NaN
5        6   0.12          NaN   NaN NaN

In [5]:


arrive['Probability'][0]=arrive['(0:1)'][0]
arrive['Probability'][1]=arrive['(0:1)'][1]+arrive['Probability'][0]
arrive['Probability'][2]=arrive['(0:1)'][2]+arrive['Probability'][1]
arrive['Probability'][3]=arrive['(0:1)'][3]+arrive['Probability'][2]
arrive['Probability'][4]=arrive['(0:1)'][4]+arrive['Probability'][3]
arrive['Probability'][5]=arrive['(0:1)'][5]+arrive['Probability'][4]

C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][0]=arrive['(0:1)'][0]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][1]=arrive['(0:1)'][1]+arrive['Probability'][0]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][2]=arrive['(0:1)'][2]+arrive['Probability'][1]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][3]=arrive['(0:1)'][3]+arrive['Probability'][2]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][4]=arrive['(0:1)'][4]+arrive['Probability'][3]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/507559567.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['Probability'][5]=arrive['(0:1)'][5]+arrive['Probability'][4]

In [6]:
arrive['To']=arrive['Probability']*100

In [7]:

arrive['From'][0]=1

arrive['From'][1:6]=(arrive['Probability'][0:5]*100)+1

C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/1815762207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['From'][0]=1
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/1815762207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrive['From'][1:6]=(arrive['Probability'][0:5]*100)+1

In [8]:
arrive

   Minutes  (0:1)  Probability  From     To
0        1   0.15         0.15   1.0   15.0
1        2   0.20         0.35  16.0   35.0
2        3   0.10         0.45  36.0   45.0
3        4   0.25         0.70  46.0   70.0
4        5   0.18         0.88  71.0   88.0
5        6   0.12         1.00  89.0  100.0

In [9]:
serv=pd.read_csv('service.csv')
serv.head()

   Minutes  (0:1)  Probability  From  To
0        2   0.10          NaN   NaN NaN
1        3   0.15          NaN   NaN NaN
2        4   0.20          NaN   NaN NaN
3        5   0.25          NaN   NaN NaN
4        6   0.12          NaN   NaN NaN

In [10]:
serv['Probability'][0]=serv['(0:1)'][0]
serv['Probability'][1]=serv['(0:1)'][1]+serv['Probability'][0]
serv['Probability'][2]=serv['(0:1)'][2]+serv['Probability'][1]
serv['Probability'][3]=serv['(0:1)'][3]+serv['Probability'][2]
serv['Probability'][4]=serv['(0:1)'][4]+serv['Probability'][3]
serv['Probability'][5]=serv['(0:1)'][5]+serv['Probability'][4]

C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][0]=serv['(0:1)'][0]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][1]=serv['(0:1)'][1]+serv['Probability'][0]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][2]=serv['(0:1)'][2]+serv['Probability'][1]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][3]=serv['(0:1)'][3]+serv['Probability'][2]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][4]=serv['(0:1)'][4]+serv['Probability'][3]
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/3542322163.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['Probability'][5]=serv['(0:1)'][5]+serv['Probability'][4]

In [11]:
serv['To']=serv['Probability']*100

In [12]:

serv['From'][0]=1

serv['From'][1:6]=(serv['Probability'][0:5]*100)+1

C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/4028496658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['From'][0]=1
C:\Users\SAEDY\AppData\Local\Temp/ipykernel_18040/4028496658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serv['From'][1:6]=(serv['Probability'][0:5]*100)+1

In [13]:
serv

   Minutes  (0:1)  Probability  From     To
0        2   0.10         0.10   1.0   10.0
1        3   0.15         0.25  11.0   25.0
2        4   0.20         0.45  26.0   45.0
3        5   0.25         0.70  46.0   70.0
4        6   0.12         0.82  71.0   82.0
5        7   0.18         1.00  83.0  100.0

In [14]:

opening = datetime.time(10,0,0)
print(opening)

10:00:00

In [15]:
Customer_ID=[1,2,3,4,5,6,7,8,9,10]
Customer_ID

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [160]:

Interval_rand=[]
for i in range(1,11):
    Interval_rand.append(randint(1,101))

In [161]:
interval_time=[]
for rand in Interval_rand:
    for index in range(len(arrive)):
        r=range(int(arrive['From'][index]),int(arrive['To'][index])+1)
        min=arrive['Minutes'][index]

        if rand in r:
            interval_time.append(min)

In [162]:
print(interval_time)

[4, 4, 6, 1, 1, 1, 4, 5, 4, 4]

In [163]:
arrival_clock=[]
arrival_clock.append(opening.replace(minute=opening.minute+interval_time[0]))
for time in range(len(interval_time)-1):
    arr=arrival_clock[time].replace(minute=arrival_clock[time].minute+interval_time[time+1])
    arrival_clock.append(arr)

In [164]:
arrival_clock

[datetime.time(10, 4),
 datetime.time(10, 8),
 datetime.time(10, 14),
 datetime.time(10, 15),
 datetime.time(10, 16),
 datetime.time(10, 17),
 datetime.time(10, 21),
 datetime.time(10, 26),
 datetime.time(10, 30),
 datetime.time(10, 34)]

In [21]:
Service_rand=[]
for i in range(1,11):
    Service_rand.append(randint(1,101))

In [22]:
Duration=[]
for rand in Service_rand:
    for index in range(len(serv)):
        r=range(int(serv['From'][index]),int(serv['To'][index])+1)
        min=serv['Minutes'][index]

        if rand in r:
            Duration.append(min)

In [23]:
Duration

[7, 2, 4, 7, 7, 2, 3, 3, 6, 2]

In [24]:

start=[]
start.append(arrival_clock[0])
for index in range(len(Duration)-1):
    after_duration=start[index].replace(minute=start[index].minute+Duration[index])
    start.append(max(after_duration,arrival_clock[index]))

In [25]:
start

[datetime.time(10, 4),
 datetime.time(10, 11),
 datetime.time(10, 13),
 datetime.time(10, 17),
 datetime.time(10, 24),
 datetime.time(10, 31),
 datetime.time(10, 33),
 datetime.time(10, 36),
 datetime.time(10, 39),
 datetime.time(10, 45)]

In [26]:
end=[]
for index in range(len(Duration)):
    end.append(start[index].replace(minute=start[index].minute+Duration[index]))

In [27]:
end

[datetime.time(10, 11),
 datetime.time(10, 13),
 datetime.time(10, 17),
 datetime.time(10, 24),
 datetime.time(10, 31),
 datetime.time(10, 33),
 datetime.time(10, 36),
 datetime.time(10, 39),
 datetime.time(10, 45),
 datetime.time(10, 47)]

In [28]:
Customer_wait=[]
format = '%H:%M:%S'

for index in range(len(start)):
   
    time = datetime.datetime.strptime(start[index].strftime("%H:%M:%S"), format) - datetime.datetime.strptime(arrival_clock[index].strftime("%H:%M:%S"), format)
    Customer_wait.append(time)

In [29]:
Customer_wait

[datetime.timedelta(0),
 datetime.timedelta(seconds=180),
 datetime.timedelta(seconds=60),
 datetime.timedelta(seconds=180),
 datetime.timedelta(seconds=300),
 datetime.timedelta(seconds=420),
 datetime.timedelta(seconds=180),
 datetime.timedelta(seconds=300),
 datetime.timedelta(seconds=180),
 datetime.timedelta(seconds=300)]

In [30]:
Server_Ideal=[]
Server_Ideal.append(datetime.datetime.strptime(arrival_clock[0].strftime("%H:%M:%S"), format)-datetime.datetime.strptime(opening.strftime("%H:%M:%S"), format))
for index in range(len(start)-1):
    ending=datetime.datetime.strptime(end[index].strftime("%H:%M:%S"),format)
    stating=datetime.datetime.strptime(start[index+1].strftime("%H:%M:%S"),format)
    Server_Ideal.append(ending-stating)

In [31]:
Server_Ideal

[datetime.timedelta(seconds=240),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0)]

In [46]:
data={'Customer_ID':Customer_ID,'Interval_rand':Interval_rand,'interval_time':interval_time,'arrival_clock':arrival_clock,'Service_rand':Service_rand,'start':start,
'Duration':Duration,'end':end,'Customer_wait':Customer_wait,'Server_Ideal':Server_Ideal}
server=pd.DataFrame(data=data)

In [49]:
server

,Customer_ID,Interval_rand,interval_time,arrival_clock,Service_rand,start,Duration,end,Customer_wait,Server_Ideal
0,1,62,4,10:04:00,94,10:04:00,7,10:11:00,0 days 00:00:00,0 days 00:04:00
1,2,45,4,10:08:00,10,10:11:00,2,10:13:00,0 days 00:03:00,0 days 00:00:00
2,3,34,2,10:12:00,30,10:13:00,4,10:17:00,0 days 00:01:00,0 days 00:00:00
3,4,86,5,10:14:00,88,10:17:00,7,10:24:00,0 days 00:03:00,0 days 00:00:00
4,5,76,5,10:19:00,94,10:24:00,7,10:31:00,0 days 00:05:00,0 days 00:00:00
5,6,91,6,10:24:00,3,10:31:00,2,10:33:00,0 days 00:07:00,0 days 00:00:00
6,7,8,1,10:30:00,19,10:33:00,3,10:36:00,0 days 00:03:00,0 days 00:00:00
7,8,72,5,10:31:00,25,10:36:00,3,10:39:00,0 days 00:05:00,0 days 00:00:00
8,9,65,4,10:36:00,75,10:39:00,6,10:45:00,0 days 00:03:00,0 days 00:00:00
9,10,22,2,10:40:00,4,10:45:00,2,10:47:00,0 days 00:05:00,0 days 00:00:00